.header-flat{
  border: 1px solid $grey-light;
  form {
    margin: 20px 0;
    margin-right: 0;
    background: #F4F4F4;
    padding: 15px;
    border-radius: 3px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.flat-details {
  display: flex;
  align-items: center;
  padding: 30px;
  padding-left: 0;
}
.flat-owner {
  padding: 20px;
}
